.github/
dataset/
demo/
memory-bank/
result/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log
*.cache
*.swp
*.DS_Store
*.ipynb_checkpoints
*.wav
*.mp3
*.mp4
*.avi
*.mkv
*.zip
*.tar.gz
*.rar
*.pth
.vscode/tasks.json
*.pyc
models/
*.onnx
*.json
# all .pyc files
*.pyc

